---
import BaseLayout from './base.astro'
const { frontmatter } = Astro.props
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Posted in {frontmatter.pubDate.toString().slice(0, 10)}</p>
  <p>Written by {frontmatter.author}</p>
  <p>Description: {frontmatter.description}</p>
  <img src={frontmatter.image.url} alt={frontmatter.image.alt} width="100%" />
  <slot />
</BaseLayout>
